certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
decorator==4.4.2
idna==3.10
pillow==10.4.0
proglog==0.1.10
pyTelegramBotAPI==4.14.0
python-dotenv==1.0.0
requests==2.31.0
schedule==1.2.1
tqdm==4.67.1
urllib3==2.3.0
pytz==2024.1
pydub==0.25.1
ffmpeg-python==0.2.0
